body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 20px;
    color: #3d2b1f;
    padding: 0 10px;
    font-family: 'Besley 11';
    font-weight: medium;
  }
  h1,h2,h3 {
    line-height: 1.2;
    font-family: 'Besley 11';
    font-weight: 900;
  }

h2,h3 {
    line-height: 1.2;
    font-family: 'Besley 11';
    font-weight: 100;
  }
a {
    color: #3d2b1f;
}
  nav a {
    margin-right: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 0 5px;
  }
  header {
    margin-bottom: 1em;
    line-height: 1;
  }
  a:hover {
    text-decoration: underline; 
  }
  .title:hover {
    text-decoration: none;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .narrow {
    width: 70%
  }
summary:hover {
    cursor: pointer;
}
